body { font-family: "Open Sans" }
h1, h2, h3, h4, h5 { font-weight: 300; margin-bottom: 2em  }
a { color: #3498DB }
a:hover { color: #2980B9 !important; text-decoration: underline; }

.back-to { color: #999; font-size: .8em }
.sidebar { background: #333; height: 100%; min-height: 100%; display: block;  }
.fixed { position: fixed; margin-left: 0; height: 100%; }
.avatar { color: #999; font-size: .8em; font-family: "Arial" !important; transition: 0.4s all }
.avatar img { border-radius: 50px; border: 2px solid #666; margin-top: 1em }
.avatar a { opacity: .4 }
.sidebar:hover .avatar { color: white; }
.sidebar:hover a { opacity: 1 }

.site { margin-top: 2em }
.post { border-bottom: 1px dotted lightgray; color: #333; font-family: "Helvetica", "Helvetica Neue" }
.post h2, .post h1 { margin-bottom: 0 }
.post ul { margin-left: 1em }
.post-inner h2, .post-inner h3, .post-inner h4, .post-inner h5 { margin-top: 2em; margin-bottom: .4em }

.post .info { font-size: 80%; margin-bottom: 2em; display: block; text-indent: 8px }
.post .fui-time { color: lightgrey }
.post .tags { padding: .2em .8em; margin-left: 1em; background: #efefef; color: #999; border-radius: 4px; font-size: small }
a.read-more { display: block; margin-top: 1.5em; font-size: 90%; color: #999 }
.post-home { padding: 1.5em 0 }


@media only screen and (max-width: 768px) {
  .sidebar { display: none; width: auto; }


}





