<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>


<!-- foundation and normalize -->
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/foundation.css">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- icon fonts -->
<link rel="stylesheet" href="/css/icons.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/site.css">


<!-- meta tags -->

<meta name="description" content="I'm a Software Engineer, Photographer, Drummer and the guy that will make you smile when you don't want to." />
<meta name="author" content="Luiz Fonseca, Runeroniek" />
<meta name="keywords" content="Luiz Fonseca, Blog, Software Development, UX" />


<!-- facebook meta tag -->
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description if page.description }}"/>
<meta property="og:type" content="blog"/>




</head>
<body>
<div class="row fixed">
  <div class="large-2 columns sidebar">
    <div class="row">
      <div class="avatar small-centered small-14 columns ">
        <img src="http://i.imgur.com/2mZbTqI.png" width="70" height="70"/>
        <p class="text-center"><span>Luiz Fonseca</span> <br/>
        <span>eu@luiz.cc</span></p>
        <p>
        . <a href="http://br.linkedin.com/in/runeroniek/">Entrepreneur</a><br/>
        . <a href="http://github.com/luizfonseca">Developer</a><br/>
        </p>
      </div>
    </div>

     
  </div>

  </div>

  <div class="row">
    <div class="large-12 large-centered columns">
      <div class="site posts">
        {{ content }}
      </div>
    </div>
  </div>














<div class="footer row">
<div class="contact large-16 columns">
</div>
</div>



<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43318071-2', 'luiz.cc');
ga('send', 'pageview');

</script>
</body>
</html>

