---
layout: default
---
  <span><a href="/" class="back-to">&larr; home</a></span>
  <article class="post post-inner">
    <header>
      <h1><a href="{{page.url}}">{{ page.title }}</a></h1> 
      <span class="info">
        <span class="fui-time">{{ page.date | date_to_string }}</span>
          {% for tag in page.categories %}<span class="tags">{{ tag }}</span>{% endfor %}
        </span>
    </header>
      <div class="post-content">
        {{ content }}
      </div>

      <div class="comments">
        <h2> Got something to say? </h2>
        <br/><br/>
 <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname    = 'luizcc'; // required
        var disqus_identifier   = '{{ page.url }}'
        var disqus_url          = 'http://luizfonseca.github.io'+'{{ page.url }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
      </div>
  </article>

